[Unit]
Description=Venus GX MQTT to Influx Mirror
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/user/venus.mqtt-influx/venus_mqtt_influx.py
Restart=always
StandardOutput=syslog+console
StandardError=syslog+console
User=jdi
Group=jdi
 
[Install]
WantedBy=multi-user.target
